* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   background-color: rgb(237, 238, 240); 
}


.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px;
}

.logo {
  width: 60px;
  height: auto;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  background-color: transparent;
  color: green;

  padding: 12px 25px;
  border-radius: 8px;

  font-weight: bold;
}

nav a:hover {
  background-color: rgb(3, 43, 3);
}

.hero{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
}

.hero-image img{
    width: 300px;
    border-radius:15%;
}

.hero-text h1{
    font-size: 90px;
    font-weight: 900;
    line-height: 0.95;
    color: black;
}

.hero-text h2{
    margin-top: 35px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width: 1000px){

    .hero{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-text h1{
        font-size: 60px;
    }

    .hero-image img{
        width: 300px;
    }
}


h2{
    color: green;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 20px;
}

p{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    color: #0a0a0a;
}
.about{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;   /* aligns both to the top */
    gap: 70px;
}

.about-image{
    flex: 1;
}

.about-image img{
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
}

.about-content{
    flex: 1;
}

.about-content h2{
    color: green;
    margin-bottom: 30px;
}

.about-content p{
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 50px;
}

.project-image1 {
  width: 300px;
  height: 200px;
  background-image: url("/assets/netflix\ ss.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}


.project-image2 {
  width: 300px;
  height: 200px;
  background-image: url("/assets/Screenshot\ \(9\).png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}


.project-image3 {
  width: 300px;
  height: 200px;
  background-image: url("/assets/to-do\ ss.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}


.project-image4 {
  width: 300px;
  height: 200px;
  background-image: url("/assets/drumweb\ ss.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.project-info {
  max-width: 400px;
}

.project-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
}


.github-btn {
    text-align: center;
    margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.github-btn:hover {
  background-color: darkgreen;
}

.footer {
    background: #022b14;
    color: #fff;
    padding: 20px 8%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section h4,
.footer-section h3 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-section a {
    text-decoration: none;
    color: #cfcfcf;
}

.footer-section a:hover {
    color: #4CAF50;
}

.center {
    text-align: center;
}

.center p {
    margin-top: 10px;
    color: #cfcfcf;
}